<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Manager</title>

    <!-- Libs -->
    <script src="/public/lib/vue.js"></script>
    <script src="/public/lib/vde.api.js"></script>
    <script src="/public/lib/extender.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/public/ui.css">
    <link rel="stylesheet" href="style.scss">
</head>
<body>
<div id="app">
    <div v-if="currentTab === 'Files'">
        <div style="padding: 5px; background: #d0d0d0;">{{ this.currentPath }}</div>
        <table>
            <thead>
                <tr>
                    <th>Filename</th>
                    <th style="flex: 0.5;">Size</th>
                    <th style="flex: 0.8;">Created</th>
                </tr>
            </thead>
            <tbody>
                <tr @click="clickOnFile(file)" v-for="file in fileList" style="cursor: pointer;">
                    <td>{{ file.file }}</td>
                    <td style="flex: 0.5;">{{ file.size ?file.size.humanByteSize() :'' }}</td>
                    <td style="flex: 0.8;">{{ file.created ?(new Date(file.created)).humanDate() :'' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div v-if="currentTab === 'Upload'" class="upload-container">
        <button @click="selectFiles">Upload</button>
        <input ref="fileSelect" type="file" style="position: absolute; visibility: hidden;" multiple>
    </div>
</div>
<script>
    (async () => {
        await VDE.initWithVue({
            tabs: ['Files', 'Upload'],
            components: [],
            windowSize: [440, 420],

            async start() {
                this.refreshFileList();
            },
            event: {
                tabClicked(tab) {
                    this.currentTab = tab;
                }
            },
            method: {
                clickOnFile(file) {
                    if (file.isFolder) {
                        if (file.file === '..') {
                            let newPath = this.currentPath.split('/').slice(0, -1).join('/') || '/';
                            this.currentPath = newPath;
                        } else {
                            if (this.currentPath === '/') this.currentPath += file.file;
                            else this.currentPath += '/' + file.file;

                            console.log(this.currentPath);
                        }

                        this.refreshFileList();
                    }
                },
                async refreshFileList() {
                    this.fileList = await VDE.getFileList(this.currentPath, 'docs');
                    if (this.currentPath !== '/') {
                        this.fileList.unshift({
                            file: '..',
                            isFolder: true,
                            created: null,
                            size: null
                        });
                    }
                },
                selectFiles() {
                    let parent = this;
                    this.$refs.fileSelect.onchange = async function() {
                        if (!this.files && !this.files[0]) return;

                        // Upload each file
                        for (let i = 0; i < this.files.length; i++) {
                            await parent.uploadFile(this.files[i]);
                        }
                        parent.currentTab = 'Files';
                        await parent.refreshFileList();
                    };
                    this.$refs.fileSelect.click();
                },
                uploadFile(file) {
                    return new Promise((resolve => {
                        let reader = new FileReader();
                        reader.onload = async (e) => {
                            if (this.currentPath === '/')
                                await VDE.saveFile(this.currentPath + file.name, new Uint8Array(e.target.result), 'docs');
                            else
                                await VDE.saveFile(this.currentPath + '/' + file.name, new Uint8Array(e.target.result), 'docs');

                            resolve();
                        };
                        reader.readAsArrayBuffer(file);
                    }));
                }
            },
            options: {

            },
            data: {
                files: 0,
                currentPath: '/',
                currentTab: 'Files',
                fileList: []
            }
        });
    })();
</script>
</body>
</html>